*{
	margin: 0;
	padding:0;
	border:none;
}
#page{
	font-family:  Tahoma !important;
	font-size: 18px;
}
.textcolor{
	color: #002147 !important;
	font-weight: bold;
	font-size: 15px;
}
.textcolor:hover{
	color: #3954B8 !important;
}
.imgslide{
	width: 1349px !important;
	height: 500px  !important;
	
}
.iconsize{
	font-size: 50px;
}
.title{
	color:#3954B8;
}
.subquantity{
	width: 350px;
	height: 180px;
	background-color: #DEDEDE;
	position: relative;
	z-index: 1;
	border-radius: 15px;
}
.subquantity h3{
	position: absolute;
	top:10%;
	left:10%;
	font-size: 20px;
	font-weight: bold;
}
.subquantity i{
	position: absolute;
	bottom: 10%;
	right:10%;
	font-size: 50px;
}
.subquantity:hover{
	color:#3954B8;
}
.footer{
	width: auto;
	height:auto;
	background-color: #002147;
	position: relative;
}
.slidefooter a{
	color:#D1F3EA;
}
.tabletitle{
	background-color:#002147;
	color:white;
	font-family:"Times New Roman";
	text-align: center;
}
.tableform{
	font-family:"Times New Roman";
	color: black;
	font-weight: bold;
	text-align: center;
}